<tools>
To accomplish this new task, you have access to only these tools:

{{ tool_names }}

Instructions:

1. Select Only ONE tool per message
2. You will receive the tool's output in the next user response
3. Choose the most appropriate tool for each step
4. Give the final full answer using all the variables 
5. Use <action><task_complete><answer>...</answer></task_complete><action> tool to confirm task completion with the full content of the final answer.
</tools>